.rooms
  - @rooms.insert(6, :new)
  - @rooms.enum_for(:each_slice, 4).to_a.each do |row|
    .room-row.row-fluid
      - row.each do |room|
        .span3
          - if room != :new
            %a.room{:href => url_for(room)}
              .thumbnail
                %img{src: room.thumbnail}
              .name= room.name
              .active-users= pluralize(room.active_users, user_saying)
          - else
            .room.new{'data-toggle' => 'modal', 'data-target' => '#example'}
              .thumbnail
              .name Start a Party!
