.rooms
  - @rooms.unshift(:new)
  - @rooms.enum_for(:each_slice, 4).to_a.each do |row|
    .room-row.row-fluid
      - row.each do |room|
        .span3
          - if room != :new
            %a.room{:href => url_for(room), :title => room.name}
              .thumbnail
                %img{src: room.thumbnail}
              .name= room.name
              .active-users= pluralize(room.active_users, user_saying)
          - else
            .room.new{'data-toggle' => 'modal', 'data-target' => '#start-party'}
              .thumbnail
              .name Start a Party!
#start-party.modal{:style => "display: none"}
  .modal-header
    %h3 Choose a name for your party
  .modal-body
    %form.form-inline{:action => "rooms/go"}
      %input{:name => "room_name", :placeholder => "Party Name", :type => "text"}
      %input{:type => "submit", :value => "Create"}
