.page-header
  %h1= @room.name
.row
  .span4.room-queue
    %h3 Coming up...
  .span8
    .now-playing
      %h3 Now Playing...
      %p <Song 1>
      %p <Song 2>
    .user-controls
      %h3 Add Songs
