.row-fluid.now-playing
  .head
    .volume.pull-right{'data-bind' => 'with: volumeModel'}
      .slider
        .icon{'data-bind' => 'click: toggleMute'}
          .speaker
          .wave-1{'data-bind' => 'visible: volume() > 0'}
          .wave-2{'data-bind' => 'visible: volume() >= 0.5'}
        .bar-container{'data-bind' => 'slide: volume', :draggable => false}
          .bars
            - 7.times do
              .bar
    .title Now Playing
  .body{'data-bind' => 'with: currentSong, visible: currentSong'}
    .current-song
      .voting
        .like{'data-bind' => 'click: $root.likeCurrentSong.bind($root), css: { faded: !liked()}'}
        .skip{'data-bind' => 'click: $root.dislikeCurrentSong.bind($root), css: { faded: !disliked()}'}
      .name{'data-bind' => 'text: title'}
      .current-position{'data-bind' => 'text: currentTimeFormatted() + "/" + durationFormatted()'}
      %a.artist{:target => '_blank', 'data-bind' => 'text: artist, attr: {href:  artistURL}'}
      %img.provider-logo{'data-bind' => 'attr: {src: "/assets/" + provider.name + "-logo.png"}'}
  .body{'data-bind' => 'visible: !currentSong()'}
    .current-song
      .name No songs left!
      .artist Add a song to kill the silence
.row-fluid.songs-container
  .row-fluid.span6.room-queue
    .head Coming Up
    .body{'data-bind' => 'foreach: upcomingSongs'}
      .song
        .name{'data-bind' => 'text: title'}
        .artist{'data-bind' => 'text:artist'}
        .duration{'data-bind' => 'text: durationFormatted()'}
    .body{'data-bind' => 'visible: upcomingSongs().length === 0'}
      .song
        .name No songs coming up
        .artist Queue one to keep the party going
  .row-fluid.span6.add-songs
    .head Add Song
    .body
      %form.search{'data-bind' => 'submit: search'}
        %input.query{:type => 'text', :name => 'query', :placeholder => "Search for songs or artists"}
        %input.btn{:type => 'submit', :value => "Search"}
      .results{'data-bind' => 'foreach: searchResults'}
        .song
          .plus{'data-bind' => 'click: $root.enqueueSong.bind($root, $data)'} +
          .name{'data-bind' => 'text: title'}
          .artist{'data-bind' => 'text:artist'}
          .duration{'data-bind' => 'text: durationFormatted()'}
#playback
