#playback
.page-header
  %h1= @room.name
.row
  .span4.room-queue
    %h3 Coming up
    %ul{'data-bind' => 'foreach: upcomingSongs'}
      %li
        %p{'data-bind' => 'text: title'}
        %p{'data-bind' => 'text: artist'}
    %p{'data-bind' => 'visible: upcomingSongs().length === 0'}
      There are no more songs in the queue! Quick, add a song to keep the party going.
  .span8
    .now-playing{'data-bind' => 'with: currentSong'}
      %h3 Now Playing
      %p
        .title{'data-bind' => 'text: title'}
        .artist{'data-bind' => 'text: artist'}
    .user-controls
      %form{'data-bind' => 'submit: search'}
        %fieldset
          %legend Find a Song
          %input{:type => 'text', :name => 'query', :placeholder => "Search for songs or artists"}
          %br
          %input.btn{:type => 'submit', :value => "Search"}
      %ul{'data-bind' => 'foreach: searchResults'}
        %li
          %p{'data-bind' => 'text: title'}
          %p{'data-bind' => 'text: artist'}
          %a{'data-bind' => 'click: $root.enqueueSong.bind($root, $data)'} Queue Song
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js", 'data-main' => '/assets/main'
