.page-header
  %h1= @room.name
.row
  .span4.room-queue
    %h3 Coming up...
    %p{'data-bind' => 'text: songQueue().length'}
    %ul{'data-bind' => 'foreach: songQueue'}
      %li
        %p{'data-bind' => 'text: title'}
        %p{'data-bind' => 'text: artist'}
  .span8
    .now-playing
      %h3 Now Playing...
      %p <Song 1>
      %p <Song 2>
    .user-controls
      %h3 Add Songs
